.container {
  max-width: 1024px;
  margin: 2em auto;
}
.status-borrowed {
  color: red;
}

.status-available {
  color: green;
}

.favorite-icon {
  color: red;
  //border: 1px solid black;
}
//
//.non-favorite-icon {
//  background-color: black;
//}

//.mat-mdc-icon-button {
//  background-color: blue;
//}

//.mat-icon{
//  color: red;
//}
