// not really sure why styles aren't applied, might be something to do with with the component's view encapsulation.
// From Dev tools seems like, app.component.scss overwrites it
.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.status-borrowed { color: red; }

.status-available { color: green; }

//#colored-status { display: inline; }
